body{
background-color #ffffff;
font-family: times,serif;
font-size: 20px;
color:#000000;
font-weight: bold;
}

h2{font-family: times,serif;
font-size: 25px;
color: a52A2A
}

h3{font-family: times,serif;
font-size: 25px;
color: a52A2A
}

p{font-family; times, serif;
font-size: 15px;
Color:black;}